version: "3.8"
services:
  backend:
    build: ./backend
    container_name: diabetes_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/artifacts:/app/artifacts:ro
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: diabetes_frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000/predict
    restart: unless-stopped
